.titleMod1{
    .title{
        font-size: 0.16rem;
        color: #fff;
        height: 0.37rem;
        line-height: 0.37rem;
        padding: 0 0rem 0 0.23rem;
        background: url('../../assets/images/Group2x1.png') no-repeat;
        background-size: 100%;
        width: 1.79rem;
        text-align: left;
    }
}