<div class="lineBox">
    <div class="lineInfoBox clearfix"> 
        <div class="fl lineInfoMainBox">
            <div class="top ">
                <div class="lineInfo fl" id="lineType3"></div>
                <div class="fl lineStrBox">
                    <p class="num">{{total|fomaternum}}</p>
                    <p class="str">阅读量</p>
                </div>
            </div>
            <div class="bot type1"><span class="pic2">{{name}}</span></div>
        </div>  
        <div class="fl lineInfoMainBox">
            <div class="top ">
                <div class="lineInfo fl" id="lineType4"></div>
                <div class="fl lineStrBox">
                    <p class="num">{{total1|fomaternum}}</p>
                    <p class="str">阅读量</p>
                </div>
            </div>
            <div class="bot type1"><span class="pic3">{{name1}}</span></div>
        </div>
    </div>
</div>

