<div class="indexMod clearfix">
    <div class="fl">
        <TableListMod :typeNum="1"></TableListMod>
        <LeftBotMod></LeftBotMod>
    </div>
    <div class="fl mod2Box">
        <StringListMod></StringListMod>
        <GifMod></GifMod>  
    </div>
    <div class="fl mr80">
        <TableListMod :typeNum="2" style="margin-bottom:0.3rem;"></TableListMod>
        <TableListMod :typeNum="3"></TableListMod>
    </div>
    <div class="fl mr80">
        <SpeedListMod style="margin-bottom:0.3rem;"></SpeedListMod>
        <StringListType2Mod style="margin-bottom:0.4rem;"></StringListType2Mod>
        <div class="clearfix">
            <PieMod class="fl" style="margin-right:1rem;" :typeStr="'记者状态'"></PieMod>
            <PieMod class="fl" :typeStr="'任务状态'"></PieMod>
        </div>
    </div>
    <div class="fl mr80">
        <MapMod style="margin-bottom:0.4rem;"></MapMod> 
        <VideoMod></VideoMod>
    </div>
    <div class="fl mr80">
        <TableListMod1 :typeNum="3" style="margin-bottom:0.4rem;"></TableListMod1> 
        <LineMod style="margin-bottom:0.4rem;"></LineMod>
        <LineMod1></LineMod1>
    </div>
    <div class="fl mr80">
        <LineMod2></LineMod2>
        <LineMod3></LineMod3>
    </div>
    <div class="fl mr80">
        <NewsMod></NewsMod>
        <LineMod4></LineMod4>
        <AudioMod></AudioMod>
    </div>
    <div class="fl">
        <VideoListMod></VideoListMod>
    </div>
</div>