.indexMod{
    // width: 200%;
    // height: 100%;
    // height: calc(100vw * 1280 / 6656);
    background: url('../../../static/images/main2x.png') no-repeat;
    background-size: 100% 100%;
    padding-top: 0.74rem;
    padding-left: 0.9rem;
    .mod2Box{
        margin: 0 0.8rem;
    }
    .mr80{
        margin-right: 0.6rem;
    }
}

