.tableListMod1{
    width: 4.18rem;
    margin-top: .5rem;
    .titleBox{
        p{
            width: 1.76rem;
            height: 0.5rem;
            line-height: 0.5rem;
            background: url('../../assets/images/Group2x.png') no-repeat;
            background-size: 100% 100%;
            font-size: 0.26rem;
            color: #131c69;
            margin-right: 0.27rem;
            text-align: center;
        }
        .active{
            background-image: url('../../assets/images/Group2xActive.png');
        }
    }
    .titleBox1{
        p{
            width: 1.52rem;
            background:#2dc7ab;
            color: #141b69;
            margin-right: 0.1rem;
            &:nth-last-of-type(1){
                margin-right: 0;
            }
        }
        .active{
            background: #e59b22;
            background-image:url();
        }
    }
    .infoBox{
        text-align: center;
        line-height: 0;
        margin-top: .14rem;
        .btnTop{
            margin-top: 0.23rem;
            margin-bottom: 0.13rem;
        }
        .btnTop,.btnBot{
            width: 0.63rem;
            height: 0.11rem;
            display: inline-block;
            background: url('../../assets/images/Triangle2x.png') no-repeat;
            background-size: 100%;
        }
        .btnBot{
            margin-top: 0.12rem;
            background-image:url('../../assets/images/Triangle2xDown.png');
        }
        .infoScrollBox{
            height: 2.7rem;
            overflow-y: auto;
            border-top: 1px solid #828dba;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .infoListBox{
            width: 100%;
            border-bottom: 1px dashed #5a7cb9;
            .topInfo{
                font-size: 0.15rem;
                height: 0.24rem;
                margin: 0.03rem 0 0.03rem;
                line-height: 0.24rem;
                color: #fff;
                .pic{
                    width: 0.3rem;
                    height: 0.3rem;
                    line-height: 0.3rem;
                    text-align: center;
                    font-size: 12px;
                    color: #1e3a8e;
                    background:url('../../assets/images/Rectangle2x.png') no-repeat;
                    background-size:100%;
                    margin-right: 0.08rem;
                }
                .infoStr{
                    text-align: left;
                    width: calc(100% - 0.5rem);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .botInfo{
                font-size: 0.13rem;
                line-height: 0.2rem;
                margin-bottom: 0.03rem;
                color: #9bffc1;
                .shareNum{
                    background: url(../../assets/images/send.png);
                    background-size: .13rem .13rem;
                    background-repeat: no-repeat;
                    display: inline-block;
                    padding-left: .2rem;
                    background-position: left center;
                }
                .otherName{
                    width: 1.5rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                }
                .otherInfoBox{
                    .num{
                        width: 1.3rem;
                    }
                    .otherInfo{
                        width: 1.5rem;
                        padding-left: 0.22rem;
                        background: url('../../assets/images/center2x.png') no-repeat;
                        text-align: left;
                    }

                }
            }
        }
    }
}